
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@keyframes fullRave{
    0%{
        background-color: #ff00ff;
    
    }
    50% {
        background-color: #4b2e83;
    }
    100% {
        background-color: #4409e6;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    animation: fullRave 2s linear infinite
}



header {
    background-color: #4b2e83;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 40px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-top: 40px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #4b2e83;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

