

/* my github repository is at https://github.com/adya1210/adya1210.github.io
my page can be viewed at https://adya1210.github.io/index.html
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    animation: fullRave 2s linear infinite
}
@keyframes fullRave{
    0%{
        background-color: #ff00ff;
    
    }
    50% {
        background-color: #4b2e83;
    }
    100% {
        background-color: #4409e6;
    }
}


header {
    background-color: #4b2e83;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 40px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 40px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 250px;
    border-radius: 10px;
}

footer {
    background-color: #4b2e83;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
a {
    color: #fff;           
    text-decoration: none;  
}

a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

a:visited {
    color: #fff; 
}
